<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="/assets/blue-arrow-back2.svg" class="nav-back-btn"></ion-back-button>
    </ion-buttons>
    <img src="/assets/Havtech_eventshub_logo.svg" width="250" routerLink="/home" routerDirection="backward" class="nav-logo">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="context-general-event-landing-options">
  <div class="general-event-landing-hero">
    <h1 class="general-event-name">HVAC Lunch and Learn
    </h1>
    <p class="general-event-date">Dec 1, 2019 | 1:00pm - 3:00pm</p>
  </div>
  <div class="general-event-tab-holder">
    <div class="general-event-tab" routerLink="/seschedule" routerDirection="forward">
      <div class="tab-front" routerLink="" routerDirection="forward">
        <img src="/assets/icon-clock.svg" class="tab-icon">
        <p class="tab-title">Schedule</p>
      </div>
      <img slot="end" src="/assets/arrow-white.png" class="arrow">
    </div>
    <div class="general-event-tab" routerLink="/seaccomodations" routerDirection="forward">
      <div class="tab-front">
        <img src="/assets/icon-theater-curtains.svg" class="tab-icon">
        <p class="tab-title">Accommodations</p>
      </div>
      <img slot="end" src="/assets/arrow-white.png" class="arrow">
    </div>
    <div class="general-event-tab" routerLink="/sedining" routerDirection="forward">
      <div class="tab-front">
        <img src="/assets/icon-food-course.svg" class="tab-icon">
        <p class="tab-title">Dining</p>
      </div>
      <img slot="end" src="/assets/arrow-white.png" class="arrow">
    </div>
    <div class="general-event-tab" routerLink="/setravel-host" routerDirection="forward">
      <div class="tab-front">
        <img src="/assets/icon-concierge2.svg" class="tab-icon">
        <p class="tab-title">Travel Host &amp; Information</p>
      </div>
      <img slot="end" src="/assets/arrow-white.png" class="arrow">
    </div>
  </div>
  <div class="white-section">
      <div class="registered-checkmark"><img src="/assets/icon-checkmark2.svg" style="width:20px;margin-right:10px;">You are registered for this event</div>
      <p class="general-event-intro-p">Lorem ipsum dolor sit amet, consectetur adipiscing eli.</p>
      <p class="detail-p">
      Eget velit aliquet sagittis id consectetur purus ut faucibus. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Convallis aenean et tortor at risus.
      </p> 
      <p class="detail-p">
      Mattis aliquam faucibus purus in massa tempor nec feugiat nisl. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh praesent tristique magna sit amet purus gravida quis. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Etiam sit amet nisl purus in mollis nunc sed id.
      </p> 
      <p class="detail-p">
      Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh praesent tristique magna sit amet purus gravida quis.
      </p> 
      <p class="detail-p">
        <span style="color:#535353;font-weight:500;">Location Name</span><br>
        LG Smith Boulevard #99<br>
        Palm Beach, Aruba<br>
        <a href="tel:#">+297 586 9000</a>
      </p>
  </div>
  <div class="havtech-moments">
      <div class="moment-wrapper">
        <img src="/assets/icon-camera.svg" class="camera-icon">
        Show us your Havtech Moments
      </div>
      <img slot="end" src="/assets/arrow-white.png" class="arrow">
  </div>
  <div class="white-section">
    <div class="gallery-holder">
        <div class="gallery-img-holder">
          <div class="gallery-img"></div>
        </div>
        <div class="gallery-img-holder">
          <div class="gallery-img"></div>
        </div>
        <div class="gallery-img-holder">
          <div class="gallery-img"></div>
        </div>
        <div class="gallery-img-holder">
          <div class="gallery-img"></div>
        </div>
        <div class="gallery-img-holder">
          <div class="gallery-img"></div>
        </div>   
        <div class="gallery-img-holder">
          <div class="gallery-img"></div>
        </div>  
         <div class="gallery-img-holder">
          <div class="gallery-img"></div>
        </div>
        <div class="gallery-img-holder">
          <div class="gallery-img"></div>
        </div>   
        <div class="gallery-img-holder">
          <div class="gallery-img"></div>
        </div>
  </div>
   <div style="width:99%;padding:3px;">
     <button expand="block" class="view-gallery-btn" routerLink="/passwordprompt" routerDirection="forward">View All</button>
   </div>
    <div class="questions-div">
      <p class="gray-bold-p">Have Questions?</p>
      <p class="reg-p"><span class="blue-span">Contact our event host</span> by emailing <a href="mailto:events@havtech.com" style="color:#004C97;text-decoration:none;">events@havtech.com</a> lorem ipsum dolor sit amet, Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div> 
 </div>
</ion-content>