<ion-content class="context-forgot-password-modal">

  <!-- MODAL -->
  <div class="modal">
  <ion-fab horizontal="end" vertical="top">
    <ion-fab-button class="modal-exit" padding>
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <div class="modal-message-holder">
      <h2 class="modal-h2">
        Your password has been sent.
      </h2>
      <p class="modal-p">Please check your email and sign in again.</p>
      <button class="modal-btn orange" routerLink="/login" routerDirection="forward">Sign In</button>
      <button class="modal-btn gray" routerLink="/forgot-password" routerDirection="back">Close</button>
    </div>
  </div>
  <!-- END MODAL -->

  <div class="login-screen">
    <div class="login-logo">
      <!--<img src="/assets/Havtech_eventshub_logo-white.svg">!-->
      <img src="/assets/Havtech_logo_final.png">
    </div>
    <div class="login-field-holder">
    <p class="fp-header">Forgot Password?</p>
    <p class="fp-p">Please enter the email address associated with this account below and check your email to receive your password.</p>
    <form class="login-form">
      <ion-label class="login-label">Email:</ion-label>
      <ion-list class="login-shadow">
        <ion-item>
          <ion-input class="login-field" type="text"></ion-input>
        </ion-item>
      </ion-list>
          <ion-button expand="block" class="login-btn" fill="clear">Send Password</ion-button>
    </form>
<p routerLink="/login" routerDirection="back" class="small-p">Nevermind, Go Back.</p>
    </div>
    <div class="login-field-holder2">
        <p class="p1">Haven't Registered Yet?</p>
        <ion-button class="register-account-btn" fill="clear">Click Here</ion-button>
        <a href="#" class="terms-p">Terms of Use &amp; Policy</a>
    </div>
  </div>
</ion-content>
