<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="/assets/blue-arrow-back2.svg" class="nav-back-btn"></ion-back-button>
    </ion-buttons>
    <img src="/assets/Havtech_eventshub_logo.svg" width="250" routerLink="/home" routerDirection="backward" class="nav-logo">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="context-news-page">
<div class="orange-bar">
  <h1 class="page-title">Havtech News</h1>
</div>
<div class="white-section">
  <div class="news-holder">
    <h2 class="news-title">Ut enim ad minim veniam.</h2>
    <p class="news-date">Nov 15, 2019</p>
    <p class="news-teaser">
      In massa tempor nec feugiat nisl pretium. Quis viverra nibh cras pulvinar mattis nunc sed blandit. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Nulla pellentesque dignissim enim sit amet venenatis urna cursus. 
    </p>
  </div>
  <div class="news-holder">
    <h2 class="news-title"> In massa tempor nec feugiat nisl pretium.</h2>
    <p class="news-date">Nov 15, 2019</p>
    <p class="news-teaser">
      Quis viverra nibh cras pulvinar mattis nunc sed blandit. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Nulla pellentesque dignissim enim sit amet venenatis urna cursus. 
    </p>
    <p class="news-teaser">
      Ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Morbi leo urna molestie at elementum eu. Lobortis elementum nibh tellus molestie nunc non blandit massa enim. Urna nunc id cursus metus aliquam eleifend mi.
    </p>
    <button expand="block" class="news-link-btn">Button Link</button>
  </div>
  <div class="news-holder">
    <h2 class="news-title">Ut enim ad minim veniam.</h2>
    <p class="news-date">Nov 15, 2019</p>
    <p class="news-teaser">
      In massa tempor nec feugiat nisl pretium. Quis viverra nibh cras pulvinar mattis nunc sed blandit. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Nulla pellentesque dignissim enim sit amet venenatis urna cursus. 
    </p>
  </div>
</div>
</ion-content>

