.news-holder {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px dotted #919191;
}
.news-title {
    font-size: 1em;
    font-weight: 500;
}

.news-date {
    font-size: .75em;
    color:#919191;
    font-weight: 300;
}

.news-teaser {
    font-size: .75em;
    color:#919191;
    font-weight: 300;
}