.fp-header {
    color:#505050;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 100px;
}

.fp-p {
    font-size: .75em;
    line-height: 140%;
    color:#9E9E9E;
    font-weight: lighter;
    margin-top: 24px;
}

ion-content{
    --background:  url('/assets/havtch-bgswoosh-gray.svg') no-repeat center center / cover;
}

.modal{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.small-p{
    color: #9E9E9E;
    font-size: 0.8em;
    line-height: 120%;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    font-weight: 100;
}

.terms-p{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 100;
    text-align: center;
}

.login-field-holder {
    width: 85%;
    margin: 5% auto;
}

ion-item.hydrated {
    --inner-border-width: 0px;
  }