.havtech-moments{
    position: relative;
}

.image-select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
}

.select-icon-inner {
    visibility: hidden;
}

.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}