<ion-content class="context-gallery-modal">

  <!-- MODAL -->
  <div class="modal">
  <ion-fab horizontal="end" vertical="top">
    <ion-fab-button class="modal-exit" padding>
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="modal-gallery-holder">
    <img class="gallery-arrow" src="/assets/icon-nav-left.svg">
    <img class="modal-gallery-img" src="/assets/gal-img.jpg">
    <img class="gallery-arrow" src="/assets/icon-nav-right.svg">
  </div>
  </div>
  <!-- END MODAL -->

  <!-- Background just here for opacity context  -->
  <div class="login-screen">
    <div class="login-logo">
      <img src="/assets/Havtech_eventshub_logo-white.svg">
    </div>
  </div>
</ion-content>
