.modal-gallery-holder {
    width: 100%;
    border-radius: 3px;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.modal-gallery-img {
    width: 80%;
}
.gallery-arrow {
    width: 20px;
}