.question-expand {
    width: 35px;
    height: 35px;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.q-expand-icon {
    width: 30%;
}

.link-btn{
    text-decoration: none;
}